<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật cơ sở</title>
</head>
<body>
<main>
    <section>
        <div class="container">
            <form role="form" method="post" th:action="@{/courts/{court_id}/update-court(court_id=${court.court_id})}" th:object="${court}">
                <input type="hidden" th:field="*{court_id}">
                <div class="container">
                    <div>
                        <div>
                            <p style=" border: solid 4px black; text-align: center;
                                        display: block;
                                        font-weight: bold;
                                        color: black;
                                        background-color: #3aa0df;
                                        width: 200px;
                                        padding: 4px;
                                        text-decoration: none;
                                        margin-left: auto;
                                        margin-right: auto">ID Cơ Sở</p>
                            <p style="text-align: center" th:field="*{court_id}"
                            th:text="${court.court_id}"></p>
                        </div>
                        <div>
                            <label for="inputCourtName">Tên Cơ sở</label>
                            <input type="text" class="form-control"
                                   id="inputCourtName"
                                   placeholder="Tên cơ sở"
                                   name="CourtName"
                                   th:field="*{court_name}"
                            >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Địa chỉ</label>
                            <input type="text"
                                   id="inputAddress"
                                   placeholder="Địa chỉ"
                                   name="address"
                                   th:field="*{address}"
                            >
                        </div>
                        <div class="form-group">
                            <label for="inputOpentime">Giờ mở cửa</label>
                            <input type="datetime-local"
                                   id="inputOpentime"
                                   placeholder="Giờ mở cửa"
                                   name="open_time"
                                   th:field="*{open_time}"
                            >
                        </div>
                        <div class="form-group">
                            <label for="inputClosetime">Giờ đóng cửa</label>
                            <input type="datetime-local"
                                   id="inputClosetime"
                                   placeholder="Giờ đóng cửa"
                                   name="close_time"
                                   th:field="*{close_time}"
                            >
                            <div>
                                <label for="inputRate">Đánh giá</label>
                                <input type="number" class="form-control"
                                       id="inputRate"
                                       placeholder="Số sao đánh giá"
                                       name="Rate"
                                       th:field="*{rate}"
                                >
                            </div>
                        </div>
                    </div>
                    <button type="submit">Gửi</button>
                </div>
            </form>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>